/* GRID */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* FORM */

.input {
  border: none;
  border-bottom: 2px solid #a623ce;
  transition: padding ease-in-out 0.2s, color ease-in-out 0.2s;
}

.input:focus {
  padding-bottom: 10px;
  border-bottom-color: #6f1bd6;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  color: #595959;
}

.height-100 {
  min-height: 100vh;
}

.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

/* text align */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* padding */
.p-0 {
  padding: 0;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}

.btn {
  border-radius: 15px;
  border: 0;
  padding: 7px 20px;
  cursor: pointer;
}

.btn-purple {
  background-color: #a623ce;
  transition: background-color ease-in-out 0.2s;
}

.btn-purple:hover {
  background-color: #6f1bd6;
}

.color-white {
  color: #fff;
}

.color-purple {
  color: #a623ce;
}
